.header__index {
    height: 780px;
    background-image: url("../assets/home/home__1.jpeg");
    @include header__img;
}

.header__blog {
    height: 480px;
    background-image: url("../assets/blog/blog__1.jpeg");
    @include header__img;
}

.header__contact {
    height: 480px;
    background-image: url("../assets/contact/contact__1.jpeg");
    @include header__img;
}

.header__wrapper {
    max-width: 1800px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

h1,
h2,
h3,
h4,
.header__nav a {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: black;
}

.header__nav {
    padding-top: 17px;
    margin-right: -20px;
}

ul {
    list-style-type: none;
    li {
        display: inline-block;
        a {
            @include font(0.7rem, 600);
            text-decoration: none;
            margin: 0 12px;

            &:hover {
                color: $accent__1;
            }
        }
    }
}

.burger__menu {
    display: none;
}

h1 {
    font-weight: 600;
}